
{% extends 'forms_template/base.html' %}

 {% block page_heading %}


    <li> <a href="{% url 'Advance_Amount'  %}"><font color="white">Go Back to Advance Amount</font></a> </li> 


 <!--   <li><a href="#">Contact</a> </li>  --> 

    {% endblock %}
 


{% block content %}
    <h2>Download Advance </font></h2>
     
    <h2><center></center><font face = "Comic sans MS" size =" 5"  color="#2F0B3A">Unsettled Advance Amount Statistics of all time</font></h2></center>



<!-- modal with help  button -->
<div class="container">

          <div class="text-right">

  <button type="button"  class="btn btn-success btn-sm" style = "position:relative; left:10px; top:-50px;"  data-toggle="modal" data-target="#myModal">Help</button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Help Regarding Unsettled Advances</h4>
        </div>
        <div class="modal-body">
          <p>1)Generate all advanced Amount Which are not yet cleared</p>
          <p>2)It checks only <strong>Advanced Amount Table</strong> From Backend for this Computation.It will Technically sum up all the Advanced amounts of all the dates which are not cleared by Employees.</p>
          <p>3)You Could check it at Any time you want,It will provide you fresh Calculated Results in Tabular Form. </p>

          <p>4)If this Table is Empty it means all Advanced Amounts are cleared with Employees. </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>




















       {{object_list1 | safe}}


{% endblock %}